body {
	
}

h1 {
	font-family: "Times New Roman";
	text-align: center;
	margin-top: 50px;
	font-size: 50px;
	color: #3b74aa;
}

p {
	font-family: "Times New Roman";
	text-align: center;
	margin-top: 50px;
	font-size: 20px;
	color: #3b74aa;
}


.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
img {
	max-width: 100%;
	height: auto;
}

